.atc p, .atc-tab {
	font-family: 'montserrat';
}

.atc-tab {
	display: inline-block;
    background: #fbc630;
    padding: 11px 23px;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
	margin: 0;
	line-height: 1;
}

.atc {
	background: url('../../cdn.truegcloud.com/xanoburn/images/atc/atc-bg.jpg');
	background-size: cover;
	background-position: center;
	padding: 25px 15px;
	position: relative;
	border: 4px solid transparent;
	display: flex;
	flex-direction: column;
}

.atc.center {
	border: 4px solid #fbc630;
	border-radius: 0px 4px 4px 4px;
}

.atc-img {
	max-height: 250px;
}

.atc-savings {
	background: #f3bc00;
    display: flex;
	align-items: center;
	justify-content: center;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;

	top: 25%;
    left: 95%;
    transform: translate(-95%, -25%) rotate(15deg);
}

.atc-guarantee {
	display: none;
	position: absolute;
	width: 50px;
    top: 95%;
    left: 90%;
    transform: translate(-90%, -95%);
}

.atc-savings p {
	font-weight: 900;
    font-size: 30px;
    line-height: 1em;
    color: #0a3b6c;
	margin: 0;
}

.atc-dollar {
    font-size: 30px;
    vertical-align: top;
    top: 12px;
    position: relative;
	margin-right: 3px;
}

.atc h5 {
	color: white;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1px;
}

.atc-whitetext {
	font-weight: bold;
    color: white;
    letter-spacing: -0.5px;
    font-size: 16px;
    font-family: 'roboto' !important;
	margin: 0;
	line-height: 1.3;
}

.atc-yellowtext {
	font-weight: 900;
    color: #edba14;
    font-size: 12px;
    margin-bottom: 2px;
}

.atc-price {
	display: inline-block;
    font-size: 77px;
    color: #edba14;
}

.atc-button {
	background: #f3bc00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    margin: 0 8px;
}

.atc-button h2 {
	font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    display: inline-block;
}

.atc-button img {
	max-width: 24px;
}

@media (max-width: 992px) {
	.atc-tab {
		padding: 8px 14px;
		font-size: 16px;
	}
	.atc-dollar {
		font-size: 20px;
		top: 7px;
	}
}

/*IPAD ONLY*/
@media (min-width: 768px) and (max-width: 992px) {
	.atc {
		padding: 15px 5px;
	}

	.atc-img {
		max-height: 200px;
	}

	.atc-savings {
		width: 80px;
		height: 80px;
	}

	.atc-savings p {
		font-size: 22px;
	}

	.atc-price {
		font-size: 45px;
	}

	.atc h5 {
		font-size: 15px;
	}

	.atc-whitetext {
		font-size: 12px;
	}

	.atc-button {
		padding: 10px 0;
	}

	.atc-button h2 {
		font-size: 15px;
	}
}

/*IPHONE ONLY*/
@media (max-width: 767px) {
	.atc {
		border: 2px solid #fbc630 !important;
		flex-direction: row;
		padding: 10px 5px;

		background-color: #153d65;
		background-position: 0px;
		background-size: 45%;
		background-repeat: no-repeat;
	}

	.atc-section {
		width: 50%;
		position: relative;
	}

	.atc-tab {
		padding: 5px 14px;
		font-size: 11px;
		border-radius: 8px 8px 0 0;
	}
	
	.atc-savings {
		display: none;
	}

	.atc-guarantee {
		display: block;
	}

	.atc-dollar {
		font-size: 17px;
		bottom: 16px;
    	margin-right: 2px;
		position: relative;
	}

	.atc h5 {
		font-size: 13px;
	}

	.atc-price {
		font-size: 40px;
	}

	.atc-button h2 {
		font-size: 13px;
		letter-spacing: 0;
	}

	.atc-button img {
		max-width: 15px;
	}

	.atc-button {
		padding: 10px 0;
		width: 80%;
    	margin: auto;
	}

	.atc-whitetext {
		font-size: 8.5px;
	}

	#atc-left {
		width: 45%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#atc-right {
		width: 55%;
		border-left: 2px solid;
   	 	border-image: linear-gradient( to top, transparent, #ffffff3d, transparent ) 1 100%;
	}

	.atc-img {
		max-height: 120px;
	}

	.shipping-ribbon {
		position: absolute;
		z-index: 2;
		width: 25%;
		left: -5%;
		top: 16%;
		transform: translate(5%, -16%);
	}
}